PORT=3002
POSTGRES_USER=librarian
POSTGRES_PASSWORD=password
POSTGRES_DB=librarian
LIBRARIAN_DATABASE_URL=postgresql://librarian:password@db:5432/librarian
OPEN_LIBRARY_API_URL=https://openlibrary.org
OPEN_LIBRARY_COVERS_API_URL=https://covers.openlibrary.org
